.headerMain{grid-template-columns: 1fr 5fr 1fr;}
.headerList{grid-template-columns: repeat(6, 1fr);}
.headerListItem{margin-right: 10px; text-align: center; text-transform: uppercase;}
.headerListItem:last-child{margin-right: 0;}
.headerListItemLink{background: theme('colors.primary.DEFAULT'); color: theme('colors.white.DEFAULT'); display: inline-block; min-width: 10rem; padding: .75rem; border-radius: 100px; border: 2px solid theme('colors.white.DEFAULT');}
.headerListItemLink:hover{background: theme('colors.white.DEFAULT'); color: theme('colors.primary.DEFAULT');}
.headerIcon{border: 1px solid #222; border-radius: 5px; padding: 10px 10px; display: inline-block;}
.headerIcon:hover{background: theme('colors.borderBlack.DEFAULT');}
.headerIcon svg{width: 24px; height: 24px;}
.headerIcon:hover svg path{fill: theme('colors.white.DEFAULT');}
.bannerBkg{background: url('/src/assets/img/home/bannerHome1.jpg') no-repeat center center /100%; padding: 390px 0;}
.bannerCenterText{width: 382px; transform: translate(-50%, -50%); background: rgba(0, 0, 0, 0.2);}
.bannerOfferText{font-family: "Montserrat", sans-serif;}
.bannerButton{background: rgba(0, 0, 0, 0.2); font-size: 1.125rem;}
.redirectIcon svg{display: inline-block; margin-left: 5px;}
.bannerRightArrowBtnCircle{background: url(./assets/img/circleDashed.svg) no-repeat center center /cover;}
.logoImg svg{padding: 5px 0;}
.searchImg:hover svg path{fill: theme('colors.white.DEFAULT');}
.productImg{height: 400px; width: 100%;}
.heartIcon{color: theme('colors.secondary.DEFAULT'); font-size: 18px;}
.heartIcon:hover{color: theme('colors.white.DEFAULT');}
.viewMoreMain{background: linear-gradient(to bottom, theme('colors.secondary.DEFAULT') 40%, theme('colors.primary.DEFAULT')) 60%; transition: all 0.5s ease-in-out;}
.viewMoreMain:hover{background: linear-gradient(to bottom, theme('colors.secondary.DEFAULT') 100%, theme('colors.primary.DEFAULT')) 0%; transition: all 0.5s ease-in-out;}
.viewMoreMain:hover .bannerRightArrowBtnCircle{transform: rotate(0);}

/* Resposive Start */
@media(max-width: 1500px){
    .headerListItem{margin-right: 5px;}
    .headerIcon {padding: 8px 8px;}
}
/* Resposive End */